:root {
    --color-black-1: #202020;
    --color-black-2: #262626;
    --color-orange: #be5501;
}

html, body, #root, .app {

    background-color: #202020;
    font-family: Arial, Helvetica, sans-serif;
}